# Server
PORT=3000

# Supabase
SUPABASE_URL=seu_url_supabase
SUPABASE_KEY=sua_chave_supabase

# JWT
JWT_SECRET=segredo_super_forte
JWT_EXPIRES_IN=7d

#Testes

# Server
#PORT=3000

# Supabase
#SUPABASE_URL=https://xkkjqtgtknblzxtbdyga.supabase.co
#SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhra2pxdGd0a25ibHp4dGJkeWdhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxMzUzMDAsImV4cCI6MjA4ODcxMTMwMH0.wBVtOtvDYnZu9fAo0zpOd4wyqyeyOlf-mHgECP7VG_g

# JWT
#JWT_SECRET=segredo_super_forte
#JWT_EXPIRES_IN=7d
